<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <connectionStrings>
    <add name="Default" connectionString="Server=.\sqlexpress;"/>
  </connectionStrings>
  <appSettings>
    <add key="DBTYPE" value="mysql"/>
    <add key="Encode" value="utf8"/>
    <add key="templateURL" value="Template/changtu.xml"/>
    <add key="server" value="220.281.2111.13"/>
    <add key="windowsSSI" value="1"/>
    <add key="uid" value="sa"/>
    <add key="pwd" value="DA96EADE40A9C647"/>
    <!-- 检查到不能执行的函数，是否返回检查后的内容给生成的文档. -->
    <add key="openNullvalueReturn" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
