<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
    <title><%%# e.unikey_out_tb_name().toentity().EntityName #%%>_<%%# e.EntityName #%%> 管理</title>
	<link href="../../js/bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../../js/bootstrap-3.3.4-dist/css/bootstrap-theme.min.css" rel="stylesheet" />

	<script type="text/javascript" src="../../js/jquery/jquery-2.1.3.js"></script>
	<script type="text/javascript" src="../../js/bootstrap-3.3.4-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/jquery-validate/localization/messages_zh.js"></script>
	<script type="text/javascript" src="../../js/jquery-validate/jquery.validate.js"></script>
	<script type="text/javascript" src="../../js/hoyi-req.js"></script>

	<script type="text/javascript">

		var curindex = 1;
		var currentid;
		var currentname;
		var current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>;
		var current<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%>;
		 <%# GetFirst<%%# e.unikey_out_tb_name().toentity().getfirfieldName()  #%%>() %>
		 
		function pgc(index) {
			curindex = index;
			var filter = $('#txfilter').val();
			var pdata = {
				"behavior":"Get<%%# e.ClassName.ToParscal() #%%>",
				"pgindex":index,
				"filter":filter,
				"<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>":current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>
			};
			HOYI_POST(pdata, function(data, status){
				 $('#rep<%%# e.ClassName #%%>_parent').empty().append(data);
			});	
		}
		
		function pgc<%%# e.unikey_out_tb_name().toentity().ClassName #%%>(index) {
			 curindex = index;
			 var filter = $('#txfilter<%%# e.unikey_out_tb_name().toentity().ClassName #%%>').val();
			 var pgurl = "<%%# e.unikey_out_tb_name().toentity().ClassName #%%>_<%%# e.ClassName #%%>manage.hoyip?behavior=Get<%%# e.unikey_out_tb_name().toentity().ClassName.ToParscal() #%%>&pgindex=" + index + "&filter=" + filter;
			 $.post(pgurl, function (data, status) {
				 $('#rep<%%# e.unikey_out_tb_name().toentity().ClassName #%%>_parent').empty().append(data);
				 var pgurl = "<%%# e.unikey_out_tb_name().toentity().ClassName #%%>_<%%# e.ClassName #%%>manage.hoyip?behavior=GetCurrent<%%# e.unikey_out_tb_name().toentity().getfirfieldName().ToParscal()  #%%>NAMES&pgindex=" + index + "&filter=" + filter;
				 $.post(pgurl, function (data, status) {
					 //alert("data.status:" + data.status);
					 if (data.status == 1) {
						 current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%> = data.data.<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>;
						 current<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%> = data.data.<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%>;

						 $('#<%%# e.unikey_out_tb_name().toentity().ClassName #%%>tr'  +current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>).parent().children().each(function(i, n){
							$(n).css('background-color','#ffffff');
						});
						$('#<%%# e.unikey_out_tb_name().toentity().ClassName #%%>tr'  +current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>).css('background-color','#ccc');
						$('#span_current<%%# e.unikey_out_tb_name().toentity().ClassName #%%>').text("当前<%%# e.unikey_out_tb_name().toentity().EntityName #%%>: " + current<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%>);
					}else{
						 current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%> = null;
						 current<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%> = null;
					}
					// 查询用户.
					pgc(1);
				 });
				 
				 $('#<%%# e.unikey_out_tb_name().toentity().ClassName #%%>tr'  +current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>).parent().children().each(function(i, n){
						$(n).css('background-color','#ffffff');
					});
					$('#<%%# e.unikey_out_tb_name().toentity().ClassName #%%>tr'  +current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>).css('background-color','#ccc');
			 });
		}
		
		function setcurrent<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>(thisc, _<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>, _<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%>){
			current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%> = _<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>;
			current<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%> = _<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%>;
			$('#span_current<%%# e.unikey_out_tb_name().toentity().ClassName #%%>').text("当前<%%# e.unikey_out_tb_name().toentity().EntityName #%%>: " + current<%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%>);
			$(thisc).parent().children().each(function(i, n){
				$(n).css('background-color','#ffffff');
			});
			$(thisc).css('background-color','#ccc');
			pgc(1);
		}

		function validateForm() { 
			//validate方法参数可选 return
			return $("#modiaddform").validate({
				  submitHandler: function(form) {
					  //alert('submitHandler');
				  }
			}).form(); 
		}
		
		function ADD(){
			var ajaxCallUrl = "<%%# e.unikey_out_tb_name().toentity().ClassName #%%>_<%%# e.ClassName #%%>manage.hoyip?behavior=Add<%%# e.ClassName.ToParscal() #%%>";
				$('#addmodallabel').text("添加<%%# e.EntityName #%%>");
			
				<%%# [Fields[>0]={$('#form-<%#= t.ColumnName #%>').val('');
				}] #%%>

				if (current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%> == null) {
					alert('请先设置<%%# e.unikey_out_tb_name().toentity().EntityName #%%>后再操作<%%# e.unikey_out_tb_name().toentity().EntityName() #%%>的<%%# e.EntityName #%%>.');
					return;
				}
				$('#form-<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>').val(current<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>);
				//$('#form-<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>').hide();
				
				$("#btnModiSubmits").text("添加");
		
				$('#btnModiSubmits').unbind('click');
				$('#btnModiSubmits').click(function () {
					if (!validateForm()) {
						//alert('验证失败');
						// 验证失败，不提交.
						return;
					}
					//$("#modiaddform").validation();
					
					var data = {
						<%%# [Fields[Inner,0,Last(1)]={"<%#= t.ColumnName #%>":$('#form-<%#= t.ColumnName #%>').val(),
						}] #%%><%%# [Fields[Last(1)]={"<%#= t.ColumnName #%>":$('#form-<%#= t.ColumnName #%>').val()}] #%%>
						};
						
					 $.ajax({
						 cache: true,
						 type: "POST",
						 url: ajaxCallUrl,
						 data: data,
						 async: true,
						 error: function (request) {
							 alert("Connection error");
						 },
						 success: function (data) {
							if (data.status == 1) {
								 pgc(curindex);
								 $('#modiModal').modal("hide");
							}else{
								alert(data.msg);
							}
						 }
					 });
				 })
			$('#modiModal').modal();
		}

		function MODI(<%%# [Fields[Inner,0,Last(1)]={ <%#= t.ColumnName #%>, }] #%%><%%# [Fields[Last(1)]={ <%#= t.ColumnName #%> }] #%%>) {
			var ajaxCallUrl = "<%%# e.unikey_out_tb_name().toentity().ClassName #%%>_<%%# e.ClassName #%%>manage.hoyip?behavior=UPDATEBYID";
			
			$('#addmodallabel').text("修改<%%# e.EntityName #%%>:" + <%%# e.getsecfield().ColumnName #%%>);
			<%%# [Fields[>0]={$('#form-<%#= t.ColumnName #%>').val(<%#= t.ColumnName #%>);
			}] #%%>
			
			$("#btnModiSubmits").text("修改");

			$('#btnModiSubmits').unbind('click');
			$('#btnModiSubmits').click(function () {
				var data = {
					<%%# [Fields[Inner,0,Last(1)]={"<%#= t.ColumnName #%>":$('#form-<%#= t.ColumnName #%>').val(),
					}] #%%><%%# [Fields[Last(1)]={"<%#= t.ColumnName #%>":$('#form-<%#= t.ColumnName #%>').val()}] #%%>
					};
				$.ajax({
					cache: true,
					type: "POST",
					url: ajaxCallUrl,
					data: data,
					async: false,
					error: function (request) {
						alert("Connection error");
					},
					success: function (data,status) {
						if (data.status == 1) {
							pgc(curindex);
							$('#modiModal').modal("hide");
						}else{
							alert(data.msg);
						}
					}
				});
			})

			$('#modiModal').modal("show");
		}
		
		function DEL(id, name) {
			currentid = id;
			currentname = name;

			$('#myModal').modal("show");
			$("#myModalLabel").text("删除");
			$("#modal-body").text("你确定要删除<%%# e.EntityName #%%>：" + currentname);
		}
		
		$(function(){
			$('#btnDelete').click(function () {
				var pgurl = "<%%# e.unikey_out_tb_name().toentity().ClassName #%%>_<%%# e.ClassName #%%>manage.hoyip?behavior=DELETE&<%%# e.getfirfieldName() #%%>=" + currentid;
				$.post(pgurl, function (data, status) {
					if (status == "success") {
						$('#myModal').modal('hide');
						$('#tr' + currentid).empty();
						pgc(curindex);
					}
				});
			});
			pgc<%%# e.unikey_out_tb_name().toentity().ClassName #%%>();
			
		})
		
	</script>
</head>
<body>
	<!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div id="modal-body" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="btnDelete" class="btn btn-primary">确定删除</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add,Modi Modal -->
    <div class="modal fade" id="modiModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addmodallabel">Modal title</h4>
                </div>
                <div id="addmodalbody" class="modal-body">
                    <form id="modiaddform" class="form-horizontal">
                        
						<%%# [Fields[Equals(0)]={
                        <div class="form-group" style="display:none;">
                            <input type="text" name="form-<%#= t.ColumnName #%>" id="form-<%#= t.ColumnName #%>" placeholder="" class="col-xs-10 col-sm-5">
                        </div>
						}] #%%>	
					
						<%%# [Fields[Equals(1)]={
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <%#= t.Comment #%></label>

                            <div class="col-sm-9">
                                <input type="text" name="form-<%#= t.ColumnName #%>" id="form-<%#= t.ColumnName #%>" placeholder="" required="" class="col-xs-10 col-sm-5" >
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle"></span>
                                </span>
                            </div>
                        </div>
                        <div class="space-4"></div>
						}] #%%>	
						<%%# [Fields[>2]={
                        <div class="form-group">
                            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> <%#= t.Comment #%></label>

                            <div class="col-sm-9">
                                <input type="text" name="form-<%#= t.ColumnName #%>" id="form-<%#= t.ColumnName #%>" placeholder="" class="col-xs-10 col-sm-5" >
                                <span class="help-inline col-xs-12 col-sm-7">
                                    <span class="middle"></span>
                                </span>
                            </div>
                        </div>
                        <div class="space-4"></div>
						}] #%%>	
							
                        <div class="modal-footer">
                            <button id="btnModiSubmits" class="btn btn-primary">添加</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
            	</div>
            </div>
        </div>
    </div>
	<div>
		<div style="width:20%; float: left;">
			<table style="width:100%;">
				<tr>
					<td>
						<div class="input-group" style="width: 100%;">
							<input type="text" class="form-control" id="txfilter<%%# e.unikey_out_tb_name().toentity().ClassName #%%>"
								name="locfilter" placeholder="输入查询条件"> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button"
									onclick="pgc<%%# e.unikey_out_tb_name().toentity().ClassName #%%>(1);">查询</button>
							</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<table class="table table-border table-hover" id="rep<%%# e.unikey_out_tb_name().toentity().ClassName #%%>_parent">
							<hoyip:Repeater id="rep<%%# e.unikey_out_tb_name().toentity().ClassName #%%>">
								<HeaderTemplate>
								<thead>
									<tr>
										<th><%%# e.unikey_out_tb_name().toentity().EntityName #%%>名称</th>
									</tr>
								</thead>
								</HeaderTemplate>
								<tbody>
								<ItemTemplate>
										<tr id="<%%# e.unikey_out_tb_name().toentity().ClassName #%%>tr{# <%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%> #}" style="cursor:pointer;" onclick="setcurrent<%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%>(this, '{# <%%# e.unikey_out_tb_name().toentity().getfirfieldName() #%%> #}','{# <%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%> #}')">
											 <td >{# <%%# e.unikey_out_tb_name().toentity().getsecfieldName() #%%> #}</td>
										</td>
									</tr>
								</ItemTemplate>
								</tbody>
								<FooterTemplate>
									<tfoot>
										<tr>
											<td colspan="20" style="text-align: right;">
												<ul id="pages" class="pagination">
													<li><a onclick="pgc<%%# e.unikey_out_tb_name().toentity().ClassName #%%>(1)" href="#">&lt;&lt;</a></li> 
													<Paging> 
													<PagiCurrent><li><a style="background-color:#dddddd; color:white;" onclick="pgc<%%# e.unikey_out_tb_name().toentity().ClassName #%%>({# pageindex #})" href="#">{# pageindex #}</a></li></PagiCurrent> 
													<PagiCustom><li><a onclick="pgc<%%# e.unikey_out_tb_name().toentity().ClassName #%%>({# pageindex #})" href="#">{# pageindex #}</a></li></PagiCustom> 
													</Paging>
													<li><a onclick="pgc<%%# e.unikey_out_tb_name().toentity().ClassName #%%>({# pagecount #})" href="#">&gt;&gt;</a></li>  
												</ul>
											</td>
										</tr>
									</tfoot>
								</FooterTemplate>
							</hoyip:Repeater>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div style="width:80%; float: left;">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="btn-group" role="group" aria-label="...">
						<a class="btn btn-default" > <span style="color: green;"
							aria-hidden="true" id="span_current<%%# e.unikey_out_tb_name().toentity().ClassName #%%>">当前<%%# e.unikey_out_tb_name().toentity().EntityName #%%>: 广州快鱼信息技术有限公司</span>
						</a>
						<a class="btn btn-default" onclick="ADD();"> <span
							class="glyphicon glyphicon-plus" style="color: green;"
							aria-hidden="true"></span> 添加<%%# e.EntityName #%%>
						</a>
						<div class="input-group" style="width: 30%; margin-left: 70%;">
							<input type="text" class="form-control" id="txfilter"
								name="locfilter" placeholder="输入查询条件"> <span
								class="input-group-btn">
								<button class="btn btn-default" type="button"
									onclick="pgc(1);">查询</button>
							</span>
						</div>
		
					</div>
				</div>
			</div>
			<table class="table table-border" id="rep<%%# e.ClassName #%%>_parent">
				<hoyip:Repeater id="rep<%%# e.ClassName #%%>">
					<HeaderTemplate>
					<thead>
						<tr>
							<%%# [Fields[>1]={<th><%#= t.Comment #%></th>
							}] #%%>
							<th></th>
						</tr>
					</thead>
					</HeaderTemplate>
					<tbody>
					<ItemTemplate>
							<%%# [Fields[Equals(0)]={<tr id="tr{# <%#= t.ColumnName #%> #}">
								}] #%%>	
								<%%# [Fields[>1]={ <td>{# <%#= t.ColumnName #%> #}</td>
								}] #%%>
								<td>
									<a class="label label-success" style="padding:4px;"  
									onclick="MODI(<%%# [Fields[Inner,0,Last(1)]={'{# <%#= t.ColumnName #%> #}',}] #%%><%%# [Fields[Last(1)]={'{# <%#= t.ColumnName #%> #}'}] #%%>)">
										<span class="glyphicon glyphicon-pencil" style="color:white;" aria-hidden="true"></span>  
									</a>
									<a class="label label-danger" style="padding:4px 5px 4px 5px; margin-left: 16px;"  
									onclick="DEL('{# <%%# e.getfirfieldName() #%%> #}','{# <%%# e.getsecfieldName() #%%> #}');" >
										<span class="glyphicon glyphicon-trash" style="color:white;" aria-hidden="true" ></span>
									</a>
								</td>
							</tr>
					</ItemTemplate>
					</tbody>
					<FooterTemplate>
						<tfoot>
							<tr>
								<td colspan="20" style="text-align: right;">
									<ul id="pages" class="pagination">
										<li><a onclick="pgc(1)" href="#">&lt;&lt;</a></li> 
										<Paging> 
										<PagiCurrent><li><a style="background-color:#dddddd; color:white;" onclick="pgc({# pageindex #})" href="#">{# pageindex #}</a></li></PagiCurrent> 
										<PagiCustom><li><a onclick="pgc({# pageindex #})" href="#">{# pageindex #}</a></li></PagiCustom> 
										</Paging>
										<li><a onclick="pgc({# pagecount #})" href="#">&gt;&gt;</a></li>  
									</ul>
								</td>
							</tr>
						</tfoot>
					</FooterTemplate>
				</hoyip:Repeater>
			</table>
		</div>
	</div>
</body>
</html>